<?php

function getDbConnection() {
    $db = mysqli_connect("hostname", "username", "password");
    mysqli_select_db($db, "databasename");
    return $db;
}

function getPdoConnection() {
    $pdo = new PDO('mysql:host=hostname;dbname=databasename', 'username', 'password');
    $pdo->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);
    return $pdo;
}

?>
